@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  font-family: "Roboto";
  background-image: url("https://i.pinimg.com/originals/62/40/b6/6240b66d5c50c8661eee78b439a7d33c.jpg");
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div {
  display: flex;
  background: #daf7c1;
  width: 320px;
  margin: 8px;
  padding: 8px 18px;
  border-radius: 14px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  align-items: center;
}

div:hover {
  box-shadow: 4px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

img {
  width: 40px;
  height: 40px;
}